.menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  letter-spacing: .5px;
  transition: visibility .3s ease, opacity .3s ease;
  -webkit-transition: visibility .3s ease, opacity .3s ease;

  &.opened{
    visibility: visible;
    opacity: 1;
  }

  &_header{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 64px 0;
    background-color: rgba(0,0,0,.9);
    visibility: hidden;
    opacity: 0;
  }

  &_footer{
    margin-bottom: 65px;

    .menu__layout{
      margin-bottom: 7px;
    }

  }

  &-btn{
    position: absolute;
    top: 18px;
    right: 17px;
    width: 79px;
    height: 31px;
    border: none;
    background-color: #58318d;
    color: #fff;
    font-size: 14px;
    transition: top .3s ease;
    -webkit-transition: top .3s ease;
  }

  &__item{
    margin-bottom: 14px;
    overflow: hidden;

    &.open .menu__link:after{
      opacity: 1;
    }

  }

  &__layout{
    margin-bottom: 24px;
    text-align: center;
    color: #fff;
  }

  &__link{
    display: inline-block;
    position: relative;
    padding: 5px 0;
    font-size: 16px;
    color: #fff;

    &:after{
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 18px;
      height: 2px;
      background-color: #fff21f;
      opacity: 0;
      transition: opacity .3s ease;
      -webkit-transition: opacity .3s ease;
      content: '';
    }

  }

  &__sub-menu {
    display: none;
    padding: 25px 0 0;

    li{
      margin-bottom: 13px;
    }

  }

  &__sub-link{
    font-size: 14px;
    color: #fff21f;
  }

  &__close{
    position: absolute;
    top: 16px;
    right: 15px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  &__drop-down{
    padding: 5px 5px 5px 0;
  }

}

@media (min-width: $tablet-portrait) {

  .menu {

    &-btn{
      top: 33px;
      right: 39px;
    }

    &_footer{
      margin-bottom: 44px;

      .menu__layout{
        margin-bottom: 3px;
      }

    }

  }

}

@media (min-width: $desktop) {

  .menu {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 19px;
    bottom: auto;
    right: 20px;
    left: auto;
    visibility: visible;
    padding: 0;
    background-color: transparent;
    opacity: 1;

    &_footer{
      position: absolute;
      top: 20px;
      right: 20px;
    }

    &__layout{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
      margin-right: 22px;
    }

    &__item{
      position: relative;
      margin-left: 29px;
      margin-bottom: 0;
      overflow: visible;

      &:hover{

        .menu__sub-menu{
          visibility: visible;
          opacity: 1;
        }

        .menu__link:after{
          opacity: 1;
        }

      }

    }

    &__link{
      font-size: 14px;

      &:after{
        left: 0;
      }

      &:hover:after{
        opacity: 1;
      }

    }

    &__sub-menu {
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      padding: 12px 13px 0;
      background-color: rgba(0,0,0,.9);
      white-space: nowrap;
      text-align: left;
      visibility: hidden;
      opacity: 0;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transition: visibility .3s ease, opacity .3s ease;
      -webkit-transition: visibility .3s ease, opacity .3s ease;

      &:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(0, 0, 0, 0);
        border-bottom-color: rgba(0,0,0,.9);
        border-width: 3px;
        margin-left: -3px;
      }

      a:hover{
        text-decoration: underline;
      }

    }

    &-btn{
      display: none;
    }

    &__close{
      display: none;
    }

    &__drop-down{
      display: none;
    }

  }

}

@media (min-width: $pre-desktop) {

  .menu{
    right: 0;

    &_footer {
      right: -5px;
    }

  }

}