.trusted-by {
  position: relative;
  padding: 32px 0 36px;
  text-align: center;

  /*&:before, &:after{
    position: absolute;
    left: -3px;
    width: 102%;
    height: 35px;
    background-color: inherit;
    transform: rotate(-2.6deg);
    -webkit-transform: rotate(-2.6deg);
    content: '';
    z-index: 2;
  }

  &:before{
    top: -17px;
  }

  &:after{
    bottom: -17px;
  }*/

  &:before{
    position: absolute;
    top: -18px;
    left: -100px;
    bottom: -18px;
    right: -100px;
    background-color: #fff;
    transform: rotate(-2.6deg);
    -webkit-transform: rotate(-2.6deg);
    content: '';
    z-index: 1;
  }

  &__layout{
    position: relative;
    padding: 0 13px;
    z-index: 2;
  }

  &__title{
    position: relative;
    margin-bottom: 38px;
    padding-bottom: 8px;
    @include proximanova-bold;
    font-size: 24px;

    &:after{
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 60px;
      height: 3px;
      background-color: #ececec;
      content: '';
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }

  }

  &__item {
    margin-bottom: 54px;
  }

}

@media (min-width: $tablet-portrait) {

  .trusted-by {
    padding: 24px 0 32px;

    &:before{
      transform: rotate(-1.1deg);
      -webkit-transform: rotate(-1.1deg);
    }

    &__title{
      margin-bottom: 49px;
    }

    &__wrap{
      display: flex;
      flex-flow: wrap row;
      justify-content: space-between;
      align-items: stretch;
      width: 526px;
      margin: 0 auto;
    }

    &__item{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
    }

  }

}

@media (min-width: $desktop) {

  .trusted-by {
    padding: 69px 0 67px;

    &:before{
      transform: rotate(-1.2deg);
      -webkit-transform: rotate(-1.2deg);
    }

    &__title{
      margin-bottom: 22px;
    }

    &__wrap{
      width: 1190px;
    }

    &__item{
      width: 25%;
    }

  }

}